<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>        
        <behavior name="behaviorConfiguration">
          <!--以HTTP-GET方式公开元数据：-->
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <!--name="Host.PersonManageService" name需指定到服务实现类-->
      <service name="Host.PersonManageService" behaviorConfiguration="behaviorConfiguration">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080"/>
          </baseAddresses>
        </host>
        <!--contract="Host.IPersonManageService"  contract需要设置为接口（完全限定名）-->
        <endpoint address="" binding="basicHttpBinding" contract="Host.IPersonManageService"/>
      </service>
    </services>    
  </system.serviceModel>
</configuration>