<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="HttpsDemo.Services" behaviorConfiguration="webHttpServiceBehavior">
        <endpoint binding="webHttpBinding" bindingConfiguration="httpBinding" behaviorConfiguration="webHttpBehavior" contract="HttpsDemo.IServices" />
        <endpoint binding="webHttpBinding" bindingConfiguration="httpsBinding" behaviorConfiguration="webHttpBehavior" contract="HttpsDemo.IServices" />
        <host>
          <baseAddresses >
            <add baseAddress="http://localhost:9990"/>
            <add baseAddress="https://localhost:9991"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="httpBinding">
          <security mode="None" />
        </binding>
        <binding name="httpsBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="webHttpServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>