<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IPersonManageService">
                  <security mode="None"></security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.32:1685/PersonManageService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPersonManageService"
                contract="WCFServiceProxy.IPersonManageService" name="WSHttpBinding_IPersonManageService">            
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>